

.spc-player-synthesizer-container {
    background: #DDD;
    border: 1px outset #FFF;
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    vertical-align: top;
    /* max-height: 80em; */
    /* overflow: auto; */
    /*transition-property: all;*/
    /*transition-duration: 1s;*/
    /*transition-timing-function: ease-in-out;*/
}


.spc-player-synthesizer-container > asui-div[key=title] {
    font-size: smaller;
    border-bottom: 1px solid #BBB;
    margin-bottom: 1px;
    cursor: pointer;
    padding: 1px 3px;
}


.spc-player-synthesizer-container  asuig-row[key=header] {
    font-weight: bold;
    text-align: center;
}


/** Inputs **/
.spc-player-synthesizer-container  asui-button[key=instrument-id]   button {
    border: 1px outset;
    padding: 0px 2px;
}
.spc-player-synthesizer-container.selected  asui-button[key=instrument-id]   button {
    border: 1px inset;
}

.spc-player-synthesizer-container  asui-input-select[key=instrument-preset]               {
    float:  right;
}
.spc-player-synthesizer-container  asui-button[key=instrument-remove]               {
    float:  right;
    margin: 0px 0px 0px 0px;
}

.spc-player-synthesizer-container  asui-input-text[key=name]        input       {width: 90px;}
.spc-player-synthesizer-container  asui-input-select[key=url]       select      {width: 107px;}
.spc-player-synthesizer-container  asui-input-range[key=mixer]      input      {width: 40px;}
.spc-player-synthesizer-container  asui-input-range[key=detune]     input      {width: 40px;}
.spc-player-synthesizer-container  asui-input-select[key=root]      select      {width: 48px;}
.spc-player-synthesizer-container  asui-input-select[key=alias]     select      {width: 48px;}
.spc-player-synthesizer-container  asui-input-text[key=adsr]        input      {width: 60px;}

.spc-player-synthesizer-container  asui-input-select[key=instrument-preset]       select      { width: 120px; }


/** Sample Grid **/
.spc-player-synthesizer-container asui-grid[key=samples] {
    min-width: 480px;
    text-align: center;
}
